/* El contenedor principal de la App */
.dashboard-container {
    display: flex;
    height: 100vh; /* Ocupa toda la altura de la pantalla */
    overflow: hidden; /* Evita doble scroll */
}

/* La barra lateral */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh; /* Ocupa toda la altura de la pantalla */
    background-color: #850091;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #dee2e6;
    transition: all 0.3s;
    overflow-y: auto; /* Scroll si el contenido es muy largo */
    z-index: 1000;
    color: white
}

.sidebar li:hover{
    background-color: #850091;
    border-radius: 10px;
    transform: scale(1.08);
    filter: drop-shadow(0 8px 20px rgba(0, 0, 0, 0.25));
    border: 2px solid rgba(255, 255, 255, 0.3);
}

/* El contenido principal (donde irán tus tareas) */
.content-area {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto; /* Scroll solo en el contenido, no en el menú */
}

/* --- AJUSTE PARA CELULARES (Responsive) --- */
@media (max-width: 768px) {
    .dashboard-container {
        flex-direction: column; /* Pone el menú arriba del contenido */
    }
    
    .sidebar {
        width: 100%; /* Ocupa todo el ancho */
        height: auto; /* Altura automática */
        border-right: none;
        border-bottom: 1px solid #dee2e6;
    }
}